version: '3.8'

services:
  web:
    build: .
    tty: true
    ports:
      - "80:80"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - PORT=80
      - BIRTHDAY=1997-03-26
      - SESSION_SECRET=secret
    # networks:
    #   - vpcbr
  # redis:
  #   image: redis:latest
  #   ports:
  #     - 6379:6379
  #   networks:
  #     - vpcbr
# networks:
#   vpcbr:
#     driver: bridge
