services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: npm run dev
    tty: true
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - PORT=80
      - BIRTHDAY=1997-03-26
      - SESSION_SECRET=secret
