services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        ZSCALER_CERT_PATH: Zscaler_Root_CA.crt
    tty: true
    ports:
      - "80:80"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - PORT=80
      - BIRTHDAY=1997-03-26
      - SESSION_SECRET=secret
      - NODE_EXTRA_CA_CERTS=/usr/local/share/ca-certificates/Zscaler_Root_CA.crt
