extends layout
block content
    form(action="check" method="post")
        .card
            h1 阿金的生日
            if error
                .error 欸，太不了解了吧?!
            .input
                input.input__field(id="birthdayInput", name="birthday", type="date", min="1000-01-01", max="9999-12-31", placeholder=" ", required, autofocus)
                span.input__label 請輸入阿金的出生西元年
            .button-group
                button(type="submit") 確認


